.click {
  margin-left: 5px;
  width: 45px;
  z-index: 6;
  padding: 2px;
  background-color: transparent;
  border: transparent;
  height: 44px;
}

.control {
  margin-left: 5px;
}

.circle {
  z-index: 7;
  width: 40px;
  height: 20px;
}

.top {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.bottom {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

@media (max-width: 700px) and (min-width: 0px) {
  .click {
    margin-left: 185px;
    position: absolute;
    top: 80%;
  }
}
