.nameHeader {
  width: auto;
  letter-spacing: 0.04em;
  left: 80%;
  white-space: nowrap;
}

#toggle {
  position: fixed;
  float: right;
  right: 15px;
  z-index: 6;
  color: var(--fg);
  text-transform: uppercase;
}

#toggle .checkbox-round {
  margin-right: 0;
  margin-top: 10px;
}

#toggle > h1 {
  float: right;
  font-size: 20px;
  font-weight: 500;
  margin: 12px 50px;
}

#toggle > h2 {
  float: right;
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}

#toggle .checkbox-round {
  float: right;
}

#nodeDetails .toggle-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

#nodeDetails .info {
  position: fixed;
  right: 0;
  width: 400px;
  max-width: 100%;
  /* max-height: 50vh; */
  max-height: 71.6vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 0px;
  z-index: 2;
  display: none;
  border-bottom: solid 0.6px var(--ll);
  border-top: solid 0.5px var(--ll);
  border-left: solid 1px var(--ll);
  background-color: var(--bg);
  color: var(--fg);
}

#nodeDetails .info .container {
  height: 100%;
  overflow-y: auto;
  padding: 0 0;
}

#nodeDetails .info .container a {
  text-decoration: none;
  color: var(--hl);
  margin-top: 1em;
  margin-bottom: 1em;
}

#nodeDetails .info .container a:hover {
  text-decoration: none;
  color: var(--fg);
}

#nodeDetails .info .container em {
  text-decoration: none;
  color: var(--fg);
  font-style: italic;
  display: block;
  text-align: center;
}

#nodeDetails.expanded .info {
  display: inherit;
  top: 96px;
}

@media (max-width: 1485px) and (min-width: 0px) {
  #toggle {
    /* width: calc(100% - 20px - 20px); */
    width: 200px;
    top: 45px;
    color: var(--fg);
  }

  #drop-down-menu {
    z-index: 999;
  }

  #nodeDetails .info {
    top: 115px;
  }
  #nodeDetails.expanded .info {
    top: 96px;
  }
  #toggle > h1 {
    float: right;
    font-size: 15px;
    font-weight: 500;
    margin: 14px 50px;
  }

  #toggle > h2 {
    float: right;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0;
  }
}

@media (max-width: 1085px) {
  #nodeDetails.expanded .info {
    top: 84px;
  }
  #toggle {
    right: 77px;
    top: 34px;
  }
  .Navbar_Item-toggle {
    top: -2px;
  }
}

@media (max-width: 460px) {
  #toggle > h1 {
    float: left;
    margin: 15px;
    margin-left: 28px;
  }
}

@media (max-width: 380px) {
  #toggle > h1 {
    margin-right: -181px;
    margin-top: -18px;
    float: right;
  }
}
