.Navbar {
  display: flex;
  position: relative;
  padding: 16px;
  border-bottom: solid 1px var(--ll);
  height: 30px;
  background-color: var(--bg);
  color: var(--fg);
  z-index: 9;
}

.Navbar_Items {
  display: flex;
  text-transform: uppercase;
}

.Navbar_Item_Title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  height: 38px;
  color: var(--fg);
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 0 20px;
}

.Navbar_Item-toggle {
  display: none;
}

@media screen and (max-width: 1085px) {
  .Navbar_Item_Title {
    display: none;
  }
  .Navbar_Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar {
    height: 83px;
  }

  .Navbar_Items {
    display: none;
  }

  .Navbar_Item-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    display: flex;
    padding: 16px;
    background-color: var(--bg);
    color: var(--fg);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }

  .Navbar_ToggleShow {
    display: flex;
    background-color: var(--bg);
    position: relative;
    z-index: 999;
  }
}
