.zoomBackButton-css {
  float: bottom;
  position: relative;
  cursor: pointer;
  right: 21px;
  z-index: 5;
  text-align: center;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 6px 20px;
  color: rgb(255, 145, 0);
  height: 18px;
  width: 150px;
}

.zoomBackButton-css:hover {
  background-color: white;
  color: rgb(255, 145, 0);
} 