body {
  background-color: #2e3334; /* var(--bg) doesn't seem to work here unless /app/ has not been visited first*/
  color: #ddd;
}

div {
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  z-index: 5;
  text-align: center;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  border: solid 1px var(--ll);
  padding: 10px 20px;
  height: 20px;
  width: 120px;
  border: solid 1px #848889;
  margin-left: 5%;
  background-color: #3ea9df;
  color: #2e3334;
}

.button:hover {
  background-color: #51c1ef;
  color: #2e3334;
}

.text {
  text-align: center;
}

.title {
  font-size: 60px;
}

.intro {
  font-size: 16px;
  width: 40%;
  margin: 2% auto auto;
}

.redirect {
  padding-right: 15px;
  color: #ddd;
  float: left;
  font-size: 15px;
  font-weight: 300;
}

.router {
  display: flex;
  position: sticky;
  padding-top: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  z-index: 999;
}

.button-container {
  display: flex;
  justify-content: center;
}
